.ng-valid[required], .ng-valid.required  {
    border-left: 0px;
}
  
.ng-invalid:not(form)  {
  border-left: 1px solid #a94442; /* red */
}

input{
  background-color: transparent;
  border-bottom: 1px solid white;
  border-top: 0px;
  border-right: 0px;
  padding: 5px;
  height: 10px;
}

.add-book{
  display: flex;
  justify-content: flex-end;
}

div, label, input, button{
  color:white;
}

label{
  vertical-align: bottom;
  font-size: 12px;
  margin-right: 5px;
}

label + input{
  margin-right: 50px;
}

button{
  background-color: transparent;
  border: 0px;
  margin-right: 20px;
  height: 25px;
  font-size: 20px;
  vertical-align: bottom;
  color: white;
}