h2, span{
    color: white;
}

button{
    background-color: transparent;
    float: right;
    border: 0px;
    color: white;
}

span{
    flex-grow: 100;
}

p{
    border: 1px solid white;
    padding: 10px;
    display: flex;
}

button{
    align-self: flex-start;
}