<app-main *ngIf="userId" [userId]="userId"></app-main>

<div [style.visibility]="(userId !== 0) ? 'hidden' : 'visible' ">
    <h1>Login to your profile</h1>

    <div class="form-group">
      
      <div class="field">
        <div class="label">Title: </div>
        <div class="input">
          <input type="text" class="form-control" id="login" required [(ngModel)]="model.login" placeholder="login"/>
        </div>
        
      </div>
      <div class="field">
        <div class="label">Author: </div>
        <div class="input">
          <input type="text" class="form-control" id="password" required [(ngModel)]="model.password" placeholder="password"/>
        </div>
      </div>

      <button class="login" (click)="login();">
        Log in!
      </button>

    </div>
</div>




   
